#Assignment 02

#Data Types and Structures Questions

Q1. What are data structures and
    why are they important?

---> Data structures are ways to organize and store data in a computer so it
     can be used efficiently.
     
     They are important as they helps to store data in a structured way.
     2. Makes searching and processing data quicker
     3. Allows sorting, filtering, and updating easily
     4. Used in apps, websites, games, and more

Q2. Explain the difference between mutable and immutable data types with
    examples?

---> Mutable Data Types : It can be changed after creation. It can be modify, add, or remove elements.

Example - List , dict, set

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

Immutable data types - It can't be changed after the creation.
 Any change creates a new object. Eg - int, float, str, tuples.

In [ ]:
my_str = "hello"
my_str[0] = "H"  #  This will give an error because strings are immutable

Q3. What are the main differences between lists and tuples in Python?

---> List - 1. It can be changeable(mutable).
            2. It uses square brackets [].
            3. It is slower due to mutability.
            4. It has many built in methods.
            
    Tuples - 1. It can't be changed after creation (immutable).
             2. It uses round brackets(paranthesis) - ()
             3. It is faster due to immutablity.
             4. It has fewer methods.

In [ ]:
# List
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

# Tuple
my_tuple = (1, 2, 3)
# my_tuple[0] = 10   Error: 'tuple' object does not support item assignment

Q4. Describe how dictionaries store data?

---> In Python, dictionaries store data in the form of key-value pairs.
     Each key is unique and is used to access its corresponding value.

In [ ]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

Q5. Why might you use a set instead of a list in Python?

---> We must use set instead of list when ⁉
   1. When we wants to store unique values as sets removes duplicates values.

In [2]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

  2. Sets are faster than lists when checking if an item exists.
  3. We can perform set operations, such as union, intersection, and
     difference.

Q6. What is a string in Python, and how is it different from a list?

---> A string is a sequence of characters enclosed in quotes (single ',
     double ", or triple ''').

In [4]:
text = "Hello, world!"
print(text)

Hello, world!

The key difference is that strings are immutable, meaning their characters cannot be changed after the string is created, while lists are mutable, so you can add, remove, or modify elements in a list. Additionally, strings only contain characters, whereas lists can hold a mix of data types. Lists are typically used when you need to group and manipulate multiple items, while strings are best suited for handling and processing text.

In [5]:
# String
name = "John"
# name[0] = "M"  # Error: strings are immutable

# List
my_list = ["J", "o", "h", "n"]
my_list[0] = "M"
print(my_list)  # Output: ['M', 'o', 'h', 'n']

['M', 'o', 'h', 'n']

Q7.  How do tuples ensure data integrity in Python?

---> Tuples ensure data integrity by being immutable, which means once a
     tuple is created, its values cannot be changed, added to, or removed.

     tuples cannot be modified, they protect the data from accidental changes.

This makes them useful when you want to store constant data or pass fixed information in a program.

They also help in writing reliable and bug-free code, since the values remain consistent throughout the program.


Tuples help maintain data integrity by making sure that the data stays unchanged, secure, and predictable once defined.


Q8. What is a hash table, and how does it relate to dictionaries in Python?

---> A hash table is a data structure that stores data using a key-value pair system. It uses a process called hashing to convert each key into a unique number (called a hash), which determines where the value is stored in memory.

In [6]:
student = {"name": "Alice", "age": 20}
print(student["name"])  # Output: Alice

Alice

Here, "name" is hashed to find where "Alice" is stored. This makes lookup very fast, even with large amounts of data.

Q9. Can lists contain different data types in Python?

---> Yes, Python lists are heterogeneous, meaning they can hold multiple data types together. This makes them very powerful for storing mixed data in one place.

In [7]:
my_list = [10, "hello", 3.14, True, [1, 2, 3]]
print(my_list)

[10, 'hello', 3.14, True, [1, 2, 3]]

Q10. Explain why strings are immutable in Python?

---> Strings are immutable in Python to make programs faster, safer, and
     more predictable, especially when strings are used in many places or as keys in data structures.


  They are immutable because :

1. Performance and Memory Efficiency

   Since strings are used a lot in programs, making them immutable helps save memory and speed up operations like comparisons and caching.

2. Safety and Reliability

   Immutability ensures that when a string is shared across different parts of a program, it won’t be accidentally changed.

3. Hashing Support
   Immutable objects like strings can be hashed, which is necessary for using them as keys in dictionaries or sets.


Q11. What advantages do dictionaries offer over lists for certain tasks?

---> Dictionaries in Python are more suitable than lists when you need to
     store data using key-value pairs, and when you want to access data quickly using meaningful identifiers (keys) instead of just positions.

 Key Advantages of Dictionaries over Lists:
Fast Data Lookup

1. Dictionaries allow instant access to values using keys, while lists need to search by index or value.

2. Meaningful Access

  With dictionaries, you can use descriptive keys (like "name" or "age"), making your code more readable and self-explanatory.

3. Unique Keys Ensure Clean Data

   Dictionaries do not allow duplicate keys, which helps avoid confusion or accidental overwriting.

4. Better for Structured or Mapped Data

   Dictionaries are great for representing data like a record, database row, or JSON object.

In [1]:
# Using a list
person_list = ["Alice", 25, "Engineer"]
# You need to remember that index 1 means age

# Using a dictionary
person_dict = {"name": "Alice", "age": 25, "job": "Engineer"}
# You can access by name: person_dict["age"]

Q12 Describe a scenario where using a tuple would be preferable over a
    list?

---> Use a tuple when you want to store a fixed collection of values that should not change throughout the program — in other words, when the data is constant and read-only.

Using a tuple helps protect this data from modification, ensuring data integrity.

Eg :  you're storing the coordinates of a location:

In [ ]:
location = (28.6139, 77.2090)  # Latitude and Longitude of New Delhi

The coordinates are fixed and should not be accidentally changed.

It tells other programmers: “This data should not change.”

It prevents bugs caused by accidental changes.

Tuples use less memory and are faster than lists.

Q13. How do sets handle duplicate values in Python?

---> In Python, sets automatically remove duplicate values. When you create a set, only unique elements are stored — any duplicates are ignored.

Sets handle duplicates by not allowing them at all — every item in a set is guaranteed to be unique.

Sets are unordered collections of unique items.

They are useful when you need to:

a) Remove duplicates from a list

b) Check for uniqueness

c) Perform set operations like union, intersection, etc.

In [2]:
my_set = {1, 2, 3, 2, 4, 1}
print(my_set)

{1, 2, 3, 4}

Q14. How does the “in” keyword work differently for lists and dictionaries?

---> The in keyword is used to check for membership, but it works a bit differently in lists and dictionaries:

In Lists:
It checks if a value exists in the list.

In [3]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)  # True
print("grape" in fruits)   # False

True
False

In Dictionaries:
It checks if a key exists in the dictionary — not the value.

In [4]:
person = {"name": "Alice", "age": 25}
print("name" in person)   # True (key)
print("Alice" in person)  #  False (not a key)

True
False

Q15. Can you modify the elements of a tuple? Explain why or why not?

---> No, you cannot modify the elements of a tuple in Python because tuples are immutable.
Immutable means once a tuple is created, its content cannot be changed — you can't add, remove, or update elements.

This is by design to ensure the data stays constant and secure.

In [ ]:
my_tuple = (10, 20, 30)
# my_tuple[1] = 50  # This will raise an error: 'tuple' object does not support item assignment

Q16 What is a nested dictionary, and give an example of its use case?

---> A nested dictionary is a dictionary inside another dictionary. It allows you to organize complex, structured data using multiple levels of key-value pairs.

In [5]:
students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}

print(students["101"]["name"])  # Output: Alice

Alice

A nested dictionary is useful for handling structured data — like representing a table where each row has multiple fields. It's commonly used in databases, APIs, and real-world apps.

Q17. Describe the time complexity of accessing elements in a dictionary?

---> Dictionaries are one of the most efficient data structures in Python for lookups and data storage when you need fast access using keys.

The time complexity for accessing elements in a dictionary is O(1) on average — which means it takes constant time, regardless of the size of the dictionary.

Python dictionaries use a hash table internally.

Keys are hashed into a unique index, so looking up a value by key doesn't require searching the whole dictionary.

Q18. In what situations are lists preferred over dictionaries?

---> You should prefer lists over dictionaries when you need to store items in a specific order and don’t need key-based access.

Situations where lists are better:
1. Order Matters

Lists maintain the insertion order of elements.

Useful for tasks like printing items in sequence, looping in order, etc.

2. Simple Collections

When you just need a collection of values without labels (keys).

E.g., list of numbers, names, or tasks.

3. Index-Based Access

If you want to access or update values using positions (indexes).

4. Duplicates are Needed

Lists allow duplicate values, unlike sets or dictionary keys.

5. Easy Iteration

Ideal for looping over items in a straightforward way.

In [6]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits[0] = "mango"

print(fruits)

['apple', 'banana', 'cherry']
['mango', 'banana', 'cherry']

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

---> Retrieving by key is fast (O(1)), and does not depend on the order.

You can’t retrieve by position/index, like in a list.

In [ ]:
person = {"name": "Alice", "age": 25}
print(person["name"])   # Access by key
# print(person[0])      # Error: Can't access by position

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

---> Use a list when you need to access items by their position (like the 1st, 2nd, etc.).

Use a dictionary when you want to access items using a descriptive key, which makes data retrieval faster and clearer.

In [7]:
# List
colors = ["red", "green", "blue"]
print(colors[1])  # Output: green (access by index)

# Dictionary
student = {"name": "Alice", "age": 21}
print(student["name"])  # Output: Alice (access by key)

green
Alice

#Practical Questions

Q1. Write a code to create a string with your name and print it.

--->

In [8]:
Str1 = "Aarushi Nayan"
print(Str1)

Aarushi Nayan

Q2. Write a code to find the length of the string "Hello World".

--->

In [9]:
str2 = "Hello World"
print(len(str2))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

--->

In [10]:
a = "Python Programming"

print(a[0:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

--->

In [11]:
a = "hello"
print(a.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

--->

In [12]:
a = "I like apple"
print(a.replace("apple" , "orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

--->

In [13]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

--->

In [14]:
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

--->

In [16]:
list1 = [1,2,3,4,5]
#list1.remove(3)
#print(list1)

#or
list1.pop(2)
print(list1)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

--->

In [18]:
list1 = ['a', 'b', 'c','d']
print(list1[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

--->

In [19]:
list1 = [10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

--->

In [20]:
t = (100,200,300)
print(t)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

--->

In [21]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

--->

In [22]:
t = (10,20,5,15)
print(min(t))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

--->

In [23]:
t = ('dog', 'cat','rabbit')
print(t.index("cat"))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

--->

In [24]:
t = ('apple', 'kiwi','orange')
print("kiwi" in t)

True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

--->

In [30]:
s = {'a','b','c'}
print(s)

{'c', 'b', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

--->

In [32]:
s = {1,2,3,4,5}
print(s)

print("All elements cleared!!",s.clear())

{1, 2, 3, 4, 5}
All elements cleared!! None

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

--->

In [36]:
s1 = {1,2,3,4}
print(s1.remove(4))
print(s1)

None
{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

--->

In [37]:
s = {1,2,3}
r = {3,4,5}
print(s.union(r))

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

--->

In [38]:
s = {1,2,3}
r = {2,3,4}
print(s.intersection(r))

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

--->

In [39]:
p ={ "name" : "Aarushi", "age": 24, "city" : "Delhi"}
print(p)

{'name': 'Aarushi', 'age': 24, 'city': 'Delhi'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

--->

In [40]:
 p = {'name': 'John', 'age': 25}
 p["country"] = "USA"
 print(p)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

--->

In [41]:
p = {'name': 'Alice', 'age': 30}
print(p["name"])

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

--->

In [42]:
 p = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 p.pop("age")
 print(p)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

--->

In [43]:
p = {'name': 'Alice', 'city': 'Paris'}
print("city" in p)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

--->

In [44]:
list1 = [1,2,3]
print(list1)

t = (1,2,3)
print(t)

p = {'name': 'Alice', 'city': 'Paris'}
print(p)

[1, 2, 3]
(1, 2, 3)
{'name': 'Alice', 'city': 'Paris'}

Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

--->

In [46]:
list1 = [10,3,4,0,5]
list1.sort()
print(list1)

[0, 3, 4, 5, 10]

Q28. Write a code to create a list with strings and print the element at the third index.

--->

In [48]:
list1 = ["a", "b","c","d"]
print(list1[3])

d

Q29. Write a code to combine two dictionaries into one and print the result.

--->

In [49]:
p = {"name" : "Aarushi" , "age": 24}
s = {"city" : "Delhi" , "country" : "India"}
p.update(s)
print(p)

{'name': 'Aarushi', 'age': 24, 'city': 'Delhi', 'country': 'India'}

Q30. Write a code to convert a list of strings into a set.

--->

In [52]:
list1 = ["a", "b","c","d"]
print(set(list1))

{'c', 'b', 'a', 'd'}